

<div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/sidebar', book: @book_new, user: @user %>
      </div>
      <div class="col-xs-9">
      	<p id="notice">
			<%= notice %>
		</p>
		<h2>Book detail</h2>
			<table>
				<thead>
					<tr>
						<th><div class="col-xs-6"><%= link_to user_path(@book.user.id) do %>
							<%= attachment_image_tag @book.user, :profile_image, fallback: "no image.png", size:"100x100" %><br><%= @book.user.name %>
							<% end %></div></th>
						<th><div class="col-xs-3"><%= @book.title %></div></th>
						<th><div class="col-xs-3"><%= @book.body %></div></th>
						<th><div class="col-xs-6"><% if @book.user.id == current_user.id %>
						<%= link_to edit_book_path(@book), class: "label label-success" do %>
							<span>Edit</span>
							<% end %></div></th>
						<th><div class="col-xs-6"><%= link_to "Destroy", book_path(@book), class: "label label-danger", method: :delete %></div></th>
						<% end %>
					</tr>
				</thead>
			</table>
	  </div>
	</div>
  </div>